<footer class="{{ classes.footer }}">

  <div class="mt-6 mb-2">
    <p class="text-center text-gray-500">
      Made using Marc Filleul's template<br>
      &copy; {{ site.annee }} {{ site.brandName }}</p>
  </div>

</footer>
