---
layout: default
title: Home
translationKey: indexPage
--- 
<section class="my-auto">
  <div class="mx-auto measure fade-in-down">
    <p class="font-semibold uppercase text-primary">Hello, I'm Ghani </p>
    <h1 class="mt-6">I'm an University Student from Indonesia.</h1>
    <h2 class="mt-6 font-sans text-2xl font-light">
      I ❤️ Gnome and GTK. Currently I'm lworking on my gtk app (It's still secreet 🤫)
    </h2>
  </div>
</section>
