---
layout: default
title: Home
translationKey: indexPage
--- 
<section class="my-auto">
  <div class="mx-auto measure fade-in-down">
    <p class="font-semibold uppercase text-primary">Halo, Saya Ghani </p>
    <h1 class="mt-6">Saya hanyalah Mahasiswa di Universitas di Indonesia.</h1>
    <h2 class="mt-6 font-sans text-2xl font-light">
      Saya ❤️ Linux, Gnome, dan Gtk. Saat ini saya sedang mengerjakan projek aplikasi gtk saya (masih rahasia🤫)
    </h2>
  </div>
</section>
