---
layout: default
title: Maaf. Terjemahan belum ada.
eleventyExcludeFromCollections: true
---

<section class="my-auto">
  <div class="mx-auto text-center flow">
    <h1 class="font-black">{{ title }}</h1>
    <p class="mt-10">
      Kembali ke <a href="{{ "/id" | url }}">laman utama</a>.
    </p>
  </div>
</section>
